name: Trigger Workflow

on:
  push:
    branches:
      - main

jobs:
  trigger:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Trigger workflow in repo-B
        run: |
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer 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 \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/SaatwikRishi/test/actions/workflows/blank.yaml/dispatches \
          -d '{"ref": "main", "input": {"files": "a.json,b.json"}}'

