name: Trigger Workflow

on:
  push:
    branches:
      - main

jobs:
  trigger:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Trigger workflow in repo-B
        run: |
         curl --location 'https://api.github.com/repos/SaatwikRishi/test/actions/workflows/86464855/dispatches' \
          --header 'Accept: application/vnd.github+json' \
          --header 'Authorization: token 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' \
          --header 'X-GitHub-Api-Version: 2022-11-28' \
          --header 'Content-Type: application/json' \
          --data '{"ref": "main", "inputs": {"array": "a.json,b.json"}}'
